-- CreateTable
CREATE TABLE `admin` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `username` VARCHAR(100) NOT NULL,
    `email` VARCHAR(150) NOT NULL,
    `password` VARCHAR(255) NOT NULL,
    `status` ENUM('A', 'D') NOT NULL DEFAULT 'A',
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `admin_username_key`(`username`),
    UNIQUE INDEX `admin_email_key`(`email`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `faculty_role` (
    `id` INTEGER NOT NULL,
    `description` ENUM('HOD', 'TEACHER') NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `faculty` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `faculty_id` VARCHAR(50) NOT NULL,
    `email` VARCHAR(150) NOT NULL,
    `username` VARCHAR(100) NOT NULL,
    `name` VARCHAR(100) NOT NULL,
    `password` VARCHAR(255) NOT NULL,
    `status` ENUM('A', 'D') NOT NULL DEFAULT 'A',
    `role` INTEGER NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `faculty_faculty_id_key`(`faculty_id`),
    UNIQUE INDEX `faculty_email_key`(`email`),
    INDEX `faculty_role_idx`(`role`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `student` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `studentID` VARCHAR(100) NOT NULL,
    `email` VARCHAR(150) NOT NULL,
    `name` VARCHAR(100) NOT NULL,
    `password` VARCHAR(255) NOT NULL,
    `status` ENUM('A', 'D') NOT NULL DEFAULT 'A',
    `currentSem` VARCHAR(2) NOT NULL DEFAULT '01',
    `season` VARCHAR(50) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `student_studentID_key`(`studentID`),
    UNIQUE INDEX `student_email_key`(`email`),
    INDEX `student_currentSem_idx`(`currentSem`),
    INDEX `student_season_idx`(`season`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `department` (
    `dept_id` VARCHAR(10) NOT NULL,
    `dept_name` VARCHAR(100) NOT NULL,

    PRIMARY KEY (`dept_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `semester` (
    `semester_id` VARCHAR(2) NOT NULL,
    `semester_name` VARCHAR(20) NOT NULL,

    PRIMARY KEY (`semester_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `course` (
    `course_id` VARCHAR(191) NOT NULL,
    `course_name` VARCHAR(100) NOT NULL,
    `semester_id` VARCHAR(2) NOT NULL,
    `dept_id` VARCHAR(10) NOT NULL,

    INDEX `course_dept_id_idx`(`dept_id`),
    INDEX `course_semester_id_idx`(`semester_id`),
    PRIMARY KEY (`course_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `faculty_course_mapping` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `facultyId` INTEGER NOT NULL,
    `courseId` VARCHAR(191) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `faculty_course_mapping_facultyId_idx`(`facultyId`),
    INDEX `faculty_course_mapping_courseId_idx`(`courseId`),
    UNIQUE INDEX `faculty_course_mapping_facultyId_courseId_key`(`facultyId`, `courseId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `topic` (
    `topic_id` INTEGER NOT NULL AUTO_INCREMENT,
    `topic_name` VARCHAR(255) NOT NULL,
    `topic_description` TEXT NULL,
    `courseId` VARCHAR(191) NOT NULL,
    `isCompleted` BOOLEAN NOT NULL DEFAULT false,
    `remark` TEXT NULL,
    `completedByFacultyId` INTEGER NULL,
    `completedAt` TIMESTAMP(0) NULL,

    INDEX `topic_courseId_idx`(`courseId`),
    INDEX `topic_completedByFacultyId_idx`(`completedByFacultyId`),
    PRIMARY KEY (`topic_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `subtopic` (
    `subtopic_id` INTEGER NOT NULL AUTO_INCREMENT,
    `subtopic_name` VARCHAR(255) NOT NULL,
    `subtopic_description` TEXT NULL,
    `topicId` INTEGER NULL,
    `parentId` INTEGER NULL,
    `isCompleted` BOOLEAN NOT NULL DEFAULT false,
    `remark` TEXT NULL,
    `completedAt` TIMESTAMP(0) NULL,
    `completedByFacultyId` INTEGER NULL,

    INDEX `subtopic_topicId_idx`(`topicId`),
    INDEX `subtopic_parentId_idx`(`parentId`),
    INDEX `subtopic_completedByFacultyId_idx`(`completedByFacultyId`),
    PRIMARY KEY (`subtopic_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `student_course_mapping` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `studentId` INTEGER NOT NULL,
    `courseId` VARCHAR(191) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `student_course_mapping_studentId_idx`(`studentId`),
    INDEX `student_course_mapping_courseId_idx`(`courseId`),
    UNIQUE INDEX `student_course_mapping_studentId_courseId_key`(`studentId`, `courseId`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `faculty` ADD CONSTRAINT `faculty_role_fkey` FOREIGN KEY (`role`) REFERENCES `faculty_role`(`id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student` ADD CONSTRAINT `student_currentSem_fkey` FOREIGN KEY (`currentSem`) REFERENCES `semester`(`semester_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `course` ADD CONSTRAINT `course_dept_id_fkey` FOREIGN KEY (`dept_id`) REFERENCES `department`(`dept_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `course` ADD CONSTRAINT `course_semester_id_fkey` FOREIGN KEY (`semester_id`) REFERENCES `semester`(`semester_id`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `faculty_course_mapping` ADD CONSTRAINT `faculty_course_mapping_facultyId_fkey` FOREIGN KEY (`facultyId`) REFERENCES `faculty`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `faculty_course_mapping` ADD CONSTRAINT `faculty_course_mapping_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course`(`course_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `topic` ADD CONSTRAINT `topic_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course`(`course_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `topic` ADD CONSTRAINT `topic_completedByFacultyId_fkey` FOREIGN KEY (`completedByFacultyId`) REFERENCES `faculty`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `subtopic` ADD CONSTRAINT `subtopic_topicId_fkey` FOREIGN KEY (`topicId`) REFERENCES `topic`(`topic_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `subtopic` ADD CONSTRAINT `subtopic_parentId_fkey` FOREIGN KEY (`parentId`) REFERENCES `subtopic`(`subtopic_id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `subtopic` ADD CONSTRAINT `subtopic_completedByFacultyId_fkey` FOREIGN KEY (`completedByFacultyId`) REFERENCES `faculty`(`id`) ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_course_mapping` ADD CONSTRAINT `student_course_mapping_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `student`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `student_course_mapping` ADD CONSTRAINT `student_course_mapping_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course`(`course_id`) ON DELETE CASCADE ON UPDATE CASCADE;

